* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

